body{
    margin : 0;
}

.board{
    width: 100px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
}

.btn{
    width: var(--btn-size);
    height: var(--btn-size);;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/* making the tale a tic-tac-toe board */
.btn:nth-child(1), .btn:nth-child(2), .btn:nth-child(3){
    border-top: none;
}

.btn:nth-child(1), .btn:nth-child(4), .btn:nth-child(7){
    border-left: none;
}

.btn:nth-child(3), .btn:nth-child(6), .btn:nth-child(9){
    border-right: none;
}

.btn:nth-child(7), .btn:nth-child(8), .btn:nth-child(9){
    border-bottom: none;
}

.btn.x, .btn.circle{
    cursor: not-allowed;
}

/* cross sign */
.board.x .btn:not(.circle):not(.x):hover{
    background: linear-gradient(to top right, transparent calc( 50% - var(--1) / 2), var(--color)
    calc(50% - var(--1)/2) calc(50%+var(--1)/2), transparent calc(50%+var(--1)/2)),
    linear-gradient(to bottom right, transparent calc(50%-var(--1)/2), var(--color) calc(50%-var(--1)/2)
    calc(50%+var(--1)/2),transparent calc(50%+var(--1)/2));
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

/* circle */
.board.circle.cell1:not(.circle):not(.x).hover{
    background: radial-gradient(var(--color) 60%, transparent 60%);
}

.cell1:not(.x).circle{
    background: radial-gradient(var(--color-set) 60%, transparent 60%);
}

/* messages */
.win-Message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-set);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
}