body{
    margin : 0;
}

.board-container .board{
    width: 100px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
}

.board__cell{
    width: var(--btn-size);
    height: var(--btn-size);;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}


/* messages */
#message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-set);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
}